@font-face {
   font-family: "Raleway Thin";
   src: url(/src/fonts/static/Raleway-Thin.ttf);
}
@font-face {
   font-family: "Raleway Bold";
   src: url(/src/fonts/static/Raleway-Bold.ttf);
}

body {
   margin: 0;
   overflow-x: hidden;
}
html {
   scroll-behavior: smooth;
}
code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}
